{
  "presets": ["babel-preset-expo"],
  "plugins": [
    [
      "module-resolver", {
        "root": ["./src"],
        "cwd": "babelrc",
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  }
}
